/* Buttons */
.btn {
  @include fonts(heading-text);
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 2px;
}

.btn-blue {
   @include button-bgg($main-blue);
}

.btn-yellow {
   @include button-bgg($main-yellow);
}
