.default{
  width: 350px !important;
}
.chosen-results{
  list-style: none;
  li{
    list-style: none;
  }
}
#story{
  display: flex;
  justify-content: center;
}
#Allstory{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#stories{
  background-color: #F5F5F5;
}
.demo{
  margin: 0px;
  background-color: #24A5A5;
  padding: 10px;
  color: white;
}
.btn-delete-post{
  width: 10%;
}
.allStories{
  color: white;
  display: flex;
  flex-direction: column;
  background-color: #3F51B5;
  margin: 10px;
  padding: 10px;
  border-radius: 7px;
    .btn-delete-post{
      width: 10%;
      float: right;
      align-items: flex-start;
    }
    .title{
      display: flex;
      justify-content: space-between;
      h6{
        align-self: flex-end;
      }
    }
    #content{
      background-color: white;
      p{
        color: black;
      }
    }
    .author{
      display: flex;
      justify-content: flex-end;
      h3{
        margin: 10px;
      }
    }
}

////// Stories //
.delete_user_post, .delete_user_comment{
  display: flex;
    justify-content: flex-end;
}

label {
  float: left;
  clear: left;
}
#userInfo{
  display: none;
}
// HERDIS COMMENT BOX
.user_comment{
  // background-color: #24A5A5;
  // border: 1px solid blue;
  border-bottom: 1px solid black;
}
.user_post_title{
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #24A5A5;
  padding: 15px;
}
.user_post_content{
  padding: 30px 15px;
}
textarea{
  width: 100%;
  min-height: 100px;
}
.user_post_likes{
  display: flex;
  justify-content: flex-end;
}

.holdmetight {
  display: fixed;
  flex-direction: column;
  justify-content: center;
  
  width: 80vw;
  .table-striped {
    width: 70vw;
  }
}
