.default{
  width: 350px !important;
}
.chosen-results{
  list-style: none;
  li{
    list-style: none;
  }
}
#story{
  display: flex;
  justify-content: center;
}
.btn-delete-post{
  width: 10%;
}
.allStories{
  color: white;
  display: flex;
  flex-direction: column;
  background-color: #3F51B5;
  margin: 10px;
  padding: 10px;
  border-radius: 7px;
    .btn-delete-post{
      width: 10%;
      float: right;
      align-items: flex-start;
    }
    .title{
      display: flex;
      justify-content: space-between;
      h6{
        align-self: flex-end;
      }
    }
    #content{
      p{
        color: black;
      }
    }
    .author{
      display: flex;
      justify-content: flex-end;
      h3{
        margin: 10px;
      }
    }
}
#content{
  background-color: white;
}
label {
  float: left;
  clear: left;
}
#userInfo{
  display: none;
}
// HERDIS COMMENT BOX
.users_comments{
  // background-color: green;
  border: 1px solid blue;
}
// .commentboxinfo{
//   display: block;
//   background-color: red;
// }
// .commentboxinfo2{
//   display: none;
// }
textarea{
  width: 100%;
  min-height: 100px;
}
