.stats-heading {
  text-align: center;
}
.stats-subheading {
  text-align: center;
  margin: 0 0 44px;
}

.stats-wraper {
  display: flex;
  justify-content: center;
  .stats-container {
    width: 50vw;
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    .stats-shade {
      display: flex;
      order: 2;
      flex-direction: column;
      width: 40%;
      height: auto;

      h1 {
        @include font-open-sans(heading);
        text-transform: uppercase;
        text-align: center;
      }
      h2 {
        @include font-open-sans(h2);
        margin: 22px 0 11px;
      }
      .brown, .green, .yellow, .black, .white, .red {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 0;
        transition: width 1s 3s ease-in-out;
        p {
          align-self: center;
          color: $dark-grey;
          margin: 0;
        }
      }
      .brown {
        background-color: $brown;
        p {
          color: white;
        }
      }
      .green {
        background-color: $poop-green;
      }
      .yellow {
        background-color: $main-yellow;
      }
      .black{
        background-color: $dark-grey;
        p {
          color: white;
        }
      }
      .white {
        background-color: $light-grey;
      }
      .red {
        background-color: $poop-red;
        p {
          color: white;
        }
      }
    }
    .stats-texture {
      width: 40%;
      h1 {
          @include font-open-sans(heading);
          text-transform: uppercase;
          text-align: center;
      }
      h2 {
        @include font-open-sans(h2);
        margin: 22px 0 11px;
      }
      .texture {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 0;
        transition: width 1s 3s ease-in-out;
        p {
          margin: 0;
          padding: 0;
          color: white;

        }
      }
      .texture {
        background-color: $main-blue;

      }
    }
  }
}
