.header {
  background: $main-blue;
  height: 64px;
  width: 100%;
  margin-bottom: 40px;
  display: flex;

  .wrap {
    width: $designWidth;
    align-self: center;
    display: flex;
    justify-content: space-between;

    margin: 0 auto;

    .bergur {
      width: 35px;
      height: 27px;
      display: inline-block;
      position: relative;
      align-self: center;

      .button_container {
        position: absolute;
        top: 3%;
        left: 4%;
        height: $button-height;
        width: $button-width;
        cursor: pointer;
        z-index: 100;
        transition: opacity .25s ease;
        z-index: 10000;

        &:hover {
          opacity: .7;
        }

        &.active {
          .top {
            transform: translateY(11px) translateX(0) rotate(45deg);
            background: $color-active;
          }
          .middle {
            opacity: 0;
            background: $color-active;
          }

          .bottom {
            transform: translateY(-11px) translateX(0) rotate(-45deg);
            background: $color-active;
          }
        }

        span {
        background: $white;
        border: none;
        height: 5px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition:  all .35s ease;
        cursor: pointer;

          &:nth-of-type(2) {
            top: 11px;
          }

          &:nth-of-type(3) {
            top: 22px;
          }
        }

      }
    }

    .logo {
      width: auto;
      // margin: 0 auto;
      color: $white;
      align-self: center;
    }

    /* User and user modal */
    .default-user {
      align-self: center;
      border: 1px solid $white;
      border-radius: 2px;
      height: 50px;
    } /* closing default user */

      /* MODAL CONTENT */
      .modal-dialog {
        max-width: 400px;

        .modal-content {
          display: flex;
          flex-wrap: wrap;
          justify-content: left;
          border: 2px solid $main-yellow;
          border-radius: 2px;

          .modal-header {
            padding: 0;
            display: flex;
            justify-content: flex-end;
            flex-flow: column wrap;
            width: 100%;

            .close {
              align-self: flex-end;
            }
          }
          .modal-user {
            display: flex;
            flex-direction: row;
            display: inline-flex;
            width: 100%;

            .user-image img {
              width: 46px;
              height: 46px;
              margin: 15px;
              display: inline-flex;
              width: auto;
            }

            .user-name-email {
              margin: 15px;

            } /* closing user-name-email */
            .modal-title {
              font-weight: bold;
            }
          } /* closing modal-user */

          .modal-body {
            padding: 15 0;
            position: none;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            text-align: center;

            .fa-camera,
            .fa-cog {
              color: $main-blue;
              width: 100%;
              align-self: center;

              &:hover {
                transform: scale(1.1);
                cursor: pointer;
              }

              i {
                @include font-open-sans(main-body-text);
              }
            }

            .choose-file-upload {
              width: 100%;
              text-align: center;
              align-self: center;
              visibility: hidden;
            }

            .upload-image {
              width: 100%;
              background-color: white;
              border-radius: 2px;
              border: 1px solid #ccc;
            }
          }

          // .change-photo,
          // .settings,
          // .user-image,
          // .user-name-email {
          //   margin: auto;
          // }

          .modal-footer {
            display: flex;
            flex-direction: row;
            text-align: center;
            padding: 0;
            width: 100%;
            border: none;

            .modal-button {
              width: 100%;
              background: $main-yellow;
              @include font-open-sans(heading);
              color: $white;
              border-radius: 0;
            }
          } /* closing modal footer */
        } /* closing modal content */
      } /* closing modal dialog */
  } /* closing wrap class */
} /* closing header */



.overlay {
  position: fixed;
  background: $main-yellow;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  // opacity: 0;
  visibility: hidden;
  background-color: rgba(255, 192, 33, .95);
  transition: background-color .35s, visibility .35s, height .35s;
  overflow: hidden;
  z-index: 9999;

  &.open {
    // opacity: 1;
    visibility: visible;
    height: 100%;

    li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;

      &:nth-of-type(2) {
        animation-delay: .4s;
      }
      &:nth-of-type(3) {
        animation-delay: .45s;
      }
      &:nth-of-type(4) {
        animation-delay: .50s;
      }
    }
  }
  .overlay-menu {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    // @include font-open-sans(heading-nav);
    left: 4%;
  }
  .ul-nav {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;

    .li-nav {
      display: block;
      height: 25%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0;


      .nav-link {
        display: block;
        @include fonts(heading-nav);
        position: relative;
        color: $white;
        text-decoration: none;
        overflow: hidden;
        min-height: 70px;
        line-height: 4.6rem;

        &:hover:after,
         &:focus:after,
         &:active:after {
           width: 100%;
         }

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: $white;
          transition: .35s;
        }
      }
    }
  }
} /* closing overlay nav */

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}


/* User image */

.default-user {
  cursor: pointer;
  transition: all .2s ease-in-out;
  height: 27px;
  width: auto;

  &:hover {
    transform: scale(1.1);
  }
}
