@mixin font-open-sans($text) {

	@if $text == main-body-text {
	/* body text */
  font-family: 'OpenSans', sans-serif;
  font-size: 1em;
  line-height: 1.6em;
  color: $dark-grey;
	}

	@if $text == heading {
	/* Headings */
		font-family: $stack-headings;
		font-size: 1.5em;
    color: $dark-grey;
		text-transform: uppercase;
	}

	@if $text == heading-nav {
	/* Headings */
		font-family: $stack-headings;
		font-size: 3em;
		color: $white;
		text-transform: uppercase;
	}
}
