/* Colors */

$main-yellow: #FFC021;
$main-blue: #24A5A5;
$light-blue: #72CEC9;
$white: #fff;
$dark-grey: #4A4A4A;
$light-grey: #ccc;

$color-background: #F5F5F5;
$color-main: #FF5252;
$color-active: #FFF;


/* Navigation */

$button-height: 27px;
$button-width: 35px;


/* Font Stack */

$stack-sans-serif: sans-serif;
$stack-open-sans: 'OpenSans', $stack-sans-serif;
$stack-headings: 'Oswald-Medium', $stack-sans-serif;

/* dimensions  */

$designWidth: 1024px;
.wrap {
  width: $designWidth;
  margin: 0 auto;
}
