/* Colors */

$main-yellow: #FFC021;
$main-blue: #24A5A5;
$white: #fff;
$dark-grey: #4A4A4A;
$light-grey: #ccc;


/* Font Stack */

$stack-sans-serif: sans-serif;
$stack-open-sans: 'OpenSans', $stack-sans-serif;
$stack-headings: 'Oswald-Medium', $stack-sans-serif;

/* dimensions  */

$designWidth: 1024px;
