/* Colors */
/* Font Stack */
/* dimensions  */
.wrap {
  width: 1024px;
  margin: 0 auto;
}

.texture .texture-radio {
  margin: 5px;
}

.shade .shade-radio {
  margin: 5px;
}

.texture-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 356px;
  height: auto;
}

.texture-container .radio-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 110px;
  height: 110px;
  box-sizing: border-box;
  margin-bottom: 8px;
}

.texture-container .radio-container input[type=radio] {
  position: absolute;
  visibility: hidden;
}

.texture-container .radio-container label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 9;
  cursor: pointer;
}

.texture-container .radio-container .check {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  height: 100%;
  width: 100%;
  border: 2px solid #24A5A5;
  -webkit-transition: border .3s ease-in-out;
  transition: border .3s ease-in-out;
}

.texture-container .radio-container .check:hover {
  border: 2px solid #ccc;
}

.texture-container .radio-container .check img {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 100%;
}

.texture-container .radio-container .check::before {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
}

.not-checked input[type=radio]:checked ~ .check {
  border: 2px solid #ccc;
}

.not-checked input[type=radio]:checked ~ .check::before {
  background-color: rgba(255, 255, 255, 0.8);
}

.test-results {
  margin-top: 10vh;
}

.shadeIcon, .textureIcon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 60px;
  height: 60px;
}

.shadeIcon img, .textureIcon img {
  width: 60px;
  height: 60px;
  margin: auto;
}

.theCross {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 60px;
  height: 60px;
}

.theCross::before {
  content: '';
  position: absolute;
  width: 7px;
  height: 30px;
  top: 25%;
  left: 50%;
  margin-left: -3.5px;
  background-color: #FFC021;
}

.theCross::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 7px;
  top: 50%;
  left: 25%;
  margin-top: -3.5px;
  background-color: #FFC021;
}

.mainNav {
  background-color: #24A5A5;
}

.mainNav .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1024px;
  padding: 0;
  margin: 0 auto;
  background-color: #24A5A5;
  border-radius: 0;
  height: 50px;
}

.mainNav .wrap::before, .mainNav .wrap::after {
  display: none;
}

.mainNav .wrap a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
