.txt-wrap {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  .inner-txt-wrap {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-radius: 2px;
    margin-bottom: 40px;
    @include font-open-sans(main-text);

    .advice {
      width: 33%;
      padding: 0 20px;
      margin: auto;
      margin-top: 0;


      .heading {
        @include font-open-sans(heading);
        padding: 20px 0 20px 0;
      }
    }
  }
}

/* Facts */

.yellow-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background: $main-yellow;
  padding: 2%;
  border-radius: 2px;
  margin-bottom: 40px;

    .heading {
    @include font-open-sans(heading);
    padding: 20px 0 0 0;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    }

    .heading,
    .main-text,
    .main-text-yellow {
      color: $white;
    }

    .main-text-yellow {
      width: 33%;
      justify-content: space-between;
      padding: 0 20px;
    }
}
