.texture {
  .texture-radio {
    margin: 5px;
  }
}


.shade {
  .shade-radio {
    margin: 5px;
  }
}

.test-results {
  margin-top: 10vh;
}

.shadeIcon, .textureIcon {
  display: inline-flex;
  width: 60px;
  height: 60px;
  img {
    width: 60px;
    height: 60px;
    margin: auto;
  }
}

.theCross {
  display: inline-flex;
  position: relative;
  width: 60px;
  height: 60px;
  &::before{
    content: '';
    position: absolute;
    width: 7px;
    height: 30px;
    top:25%;
    left: 50%;
    margin-left:-3.5px;
    background-color: $main-yellow;
  }
  &::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 7px;
    top: 50%;
    left: 25%;
    margin-top: -3.5px;
    background-color: $main-yellow;
  }

}
