.texture-form{
  width: 700px;
  min-height: 800px;
  height: auto;
  margin: 0 auto;
}
.texture {
  h1 {
    @include font-open-sans(heading);
  }
  h2 {
    @include font-open-sans(h2);
  }
  .texture-radio {
    margin: 5px;
  }
}

.shade {
  h1 {
    @include font-open-sans(heading);
  }
  h2 {
    @include font-open-sans(h2);
  }
  .shade-radio {
    margin: 5px;
  }
}


.texture-container, .shade-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 348px;
  height: auto;

  .radio-texture-container, .radio-shade-container {
    display: inline-flex;
    position: relative;
    width: 110px;
    height: 110px;
    box-sizing: border-box;

    margin-bottom: 8px;

    input[type=radio] {
      position: absolute;
      visibility: hidden;
    }
    input[type=submit] {
      position: absolute;
      visibility: hidden;
    }
    label {
      display: inline-flex;
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 9;
      cursor: pointer;
    }
    .check {
      display: inline-flex;
      justify-content: center;
      position: absolute;
      height: 100%;
      width: 100%;
      border: 2px solid $main-blue;
      transition: border .3s ease-in-out;
      &:hover {
        border: 2px solid $light-grey;
      }
      img {
        display: inline-flex;
        align-self: center;
        width: 60%;
        height: 60%;
      }
      &::before {
        display: inline-flex;
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
      }
    }
  }
}

.shade-container {
  width: 227px;
}


.not-checked {
    input[type=radio]:checked ~ .check {
      border: 2px solid $light-grey;
    }
    input[type=radio]:checked ~ .check::before {
      background-color: rgba(255,255,255,0.8);
    }
}

#formSubmit {
  position: absolute;
  visibility: hidden;
}




.test-results {
  display: flex;
  flex-direction: column;
  align-self: center;

  margin: 57px auto 0;
  // width: 100%;
  h1 {
    @include font-open-sans(heading);
  }
  h2 {
    @include font-open-sans(h2);
  }
  button {
  align-self: center;
  background: $main-yellow;
  border-radius: 2px;
    // width: 355px;
  height: 44px;
  border: none;
  font-family: $stack-open-sans;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0px;
  margin: 70px auto 57px;
  transition: background-color 0.3s ease-in-out;
  &:focus {outline:0;}
  &:hover{
    background-color: $main-blue;
  }
  }
}





.shadeIcon, .textureIcon {
  display: inline-flex;
  width: 60px;
  height: 60px;
  img {
    width: 60px;
    height: 60px;
    margin: auto;
  }
}

.theCross {
  display: inline-flex;
  position: relative;
  width: 60px;
  height: 60px;
  &::before{
    content: '';
    position: absolute;
    width: 7px;
    height: 30px;
    top:25%;
    left: 50%;
    margin-left:-3.5px;
    background-color: $main-yellow;
  }
  &::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 7px;
    top: 50%;
    left: 25%;
    margin-top: -3.5px;
    background-color: $main-yellow;
  }

}
