@charset "UTF-8";
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}

.container-fluid,
section.texture.col-md-7,
section.shade.col-md-5 {
  padding: 0;
  margin: 0;
}

.centerme {
  margin: auto;
}

.row-no-gutter {
  margin-right: 0;
  margin-left: 0;
}

.row-no-gutter [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

/* Colors */
/* Navigation */
/* Font Stack */
/* dimensions  */
.container-fluid {
  width: 1024px;
  margin: 0 auto;
}

.container {
  width: 700px;
  margin: 80px auto;
}

/* Fonts */
/* mixin frá root möppu*/
/* Buttons */
/* Nav Pills */
.nav-pills .nav-link {
  padding: .5em 2em .5em 0;
}

.nav-pills .nav-item.open .nav-link,
.nav-pills .nav-item.open .nav-link:focus,
.nav-pills .nav-item.open .nav-link:hover,
.nav-pills .nav-link.active, .nav-pills .nav-link.active:focus,
.nav-pills .nav-link.active:hover {
  background-color: transparent !important;
  color: #4A4A4A;
}

ul li {
  display: inline;
}

a {
  display: inline-block;
  width: 100%;
  padding: .75rem 0 0 0;
  margin: 0;
  text-decoration: none;
  color: #4A4A4A;
}

a:focus,
a:hover {
  color: #4A4A4A;
}

.two:hover ~ hr {
  margin-left: 16%;
  cursor: auto;
}

hr {
  display: block;
  clear: both;
  height: .25rem;
  width: 12%;
  margin: 0 0 20px 0;
  background: #24A5A5;
  border: none;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

/* Checkbox */
.checkbox {
  display: inline-block;
  margin-right: 10px;
  float: left;
}

/* Disclaimer Modal */
/* Buttons */
.btn {
  /* Headings */
  font-family: "Oswald-Medium", sans-serif;
  font-size: 1.5em;
  color: #4A4A4A;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 2px;
}

.btn-blue {
  background: #24A5A5;
}

.btn-blue:hover {
  background: #1d8484;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-blue:active {
  background: #0d3c3c;
}

.btn-yellow {
  background: #FFC021;
}

.btn-yellow:hover {
  background: #f7b100;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-yellow:active {
  background: #a17300;
}

.default {
  width: 350px !important;
}

.chosen-results {
  list-style: none;
}

.chosen-results li {
  list-style: none;
}

#story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-delete-post {
  width: 10%;
}

.allStories {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #3F51B5;
  margin: 10px;
  padding: 10px;
  border-radius: 7px;
}

.allStories .btn-delete-post {
  width: 10%;
  float: right;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.allStories .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.allStories .title h6 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.allStories #content p {
  color: black;
}

.allStories .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.allStories .author h3 {
  margin: 10px;
}

#content {
  background-color: white;
}

label {
  float: left;
  clear: left;
}

#userInfo {
  display: none;
}

.users_comments {
  border: 1px solid blue;
}

textarea {
  width: 100%;
  min-height: 100px;
}

.mainNavContainer {
  position: absolute;
  width: 208px;
  z-index: 10;
}

.mainNavContainer .mainnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #24A5A5;
  width: 208px;
  height: 100%;
}

.mainNavContainer .mainnav .mainNav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #24A5A5;
  width: 100%;
  -webkit-transition: backround-color 3ms ease-in-out;
  transition: backround-color 3ms ease-in-out;
}

.mainNavContainer .mainnav .mainNav-item:hover {
  background-color: #fff;
}

.mainNavContainer .mainnav .mainNav-item a {
  font-familiy: "OpenSans", sans-serif;
  font-size: 1.5rem;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: color 3ms ease-in-out;
  transition: color 3ms ease-in-out;
  width: 100%;
}

.mainNavContainer .mainnav .mainNav-item a:hover {
  color: #24A5A5;
}

.texture-form {
  width: 700px;
  min-height: 800px;
  height: auto;
  margin: 0 auto;
}

.texture h1 {
  /* Headings */
  font-family: "Oswald-Medium", sans-serif;
  font-size: 1.5em;
  color: #4A4A4A;
}

.texture h2 {
  font-family: "OpenSans", sans-serif;
  font-size: 1rem;
  color: #4A4A4A;
}

.texture .texture-radio {
  margin: 5px;
}

.shade h1 {
  /* Headings */
  font-family: "Oswald-Medium", sans-serif;
  font-size: 1.5em;
  color: #4A4A4A;
}

.shade h2 {
  font-family: "OpenSans", sans-serif;
  font-size: 1rem;
  color: #4A4A4A;
}

.shade .shade-radio {
  margin: 5px;
}

.texture-container, .shade-container, .shade-container-diary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 348px;
  height: auto;
}

.texture-container .radio-texture-container, .texture-container .radio-shade-container, .shade-container .radio-texture-container, .shade-container .radio-shade-container, .shade-container-diary .radio-texture-container, .shade-container-diary .radio-shade-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 110px;
  height: 110px;
  box-sizing: border-box;
  margin-bottom: 8px;
}

.texture-container .radio-texture-container input[type=radio], .texture-container .radio-shade-container input[type=radio], .shade-container .radio-texture-container input[type=radio], .shade-container .radio-shade-container input[type=radio], .shade-container-diary .radio-texture-container input[type=radio], .shade-container-diary .radio-shade-container input[type=radio] {
  position: absolute;
  visibility: hidden;
}

.texture-container .radio-texture-container input[type=submit], .texture-container .radio-shade-container input[type=submit], .shade-container .radio-texture-container input[type=submit], .shade-container .radio-shade-container input[type=submit], .shade-container-diary .radio-texture-container input[type=submit], .shade-container-diary .radio-shade-container input[type=submit] {
  position: absolute;
  visibility: hidden;
}

.texture-container .radio-texture-container label, .texture-container .radio-shade-container label, .shade-container .radio-texture-container label, .shade-container .radio-shade-container label, .shade-container-diary .radio-texture-container label, .shade-container-diary .radio-shade-container label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 9;
  cursor: pointer;
}

.texture-container .radio-texture-container .check, .texture-container .radio-shade-container .check, .shade-container .radio-texture-container .check, .shade-container .radio-shade-container .check, .shade-container-diary .radio-texture-container .check, .shade-container-diary .radio-shade-container .check {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  border: 2px solid #24A5A5;
  -webkit-transition: border .3s ease-in-out;
  transition: border .3s ease-in-out;
}

.texture-container .radio-texture-container .check:hover, .texture-container .radio-shade-container .check:hover, .shade-container .radio-texture-container .check:hover, .shade-container .radio-shade-container .check:hover, .shade-container-diary .radio-texture-container .check:hover, .shade-container-diary .radio-shade-container .check:hover {
  border: 2px solid #ccc;
}

.texture-container .radio-texture-container .check img, .texture-container .radio-shade-container .check img, .shade-container .radio-texture-container .check img, .shade-container .radio-shade-container .check img, .shade-container-diary .radio-texture-container .check img, .shade-container-diary .radio-shade-container .check img {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 60%;
  height: 60%;
}

.texture-container .radio-texture-container .check::before, .texture-container .radio-shade-container .check::before, .shade-container .radio-texture-container .check::before, .shade-container .radio-shade-container .check::before, .shade-container-diary .radio-texture-container .check::before, .shade-container-diary .radio-shade-container .check::before {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
}

.shade-container, .shade-container-diary {
  width: 227px;
}

.not-checked input[type=radio]:checked ~ .check {
  border: 2px solid #ccc;
}

.not-checked input[type=radio]:checked ~ .check::before {
  background-color: rgba(255, 255, 255, 0.8);
}

#formSubmit {
  position: absolute;
  visibility: hidden;
}

.test-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 57px auto 0;
}

.test-results h1 {
  /* Headings */
  font-family: "Oswald-Medium", sans-serif;
  font-size: 1.5em;
  color: #4A4A4A;
}

.test-results h2 {
  font-family: "OpenSans", sans-serif;
  font-size: 1rem;
  color: #4A4A4A;
}

.test-results button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #FFC021;
  border-radius: 2px;
  height: 44px;
  border: none;
  font-family: "OpenSans", sans-serif;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0px;
  margin: 70px auto 57px;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.test-results button:focus {
  outline: 0;
}

.test-results button:hover {
  background-color: #24A5A5;
}

.shadeIcon, .textureIcon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 60px;
  height: 60px;
}

.shadeIcon img, .textureIcon img {
  width: 60px;
  height: 60px;
  margin: auto;
}

.theCross {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 60px;
  height: 60px;
}

.theCross::before {
  content: '';
  position: absolute;
  width: 7px;
  height: 30px;
  top: 25%;
  left: 50%;
  margin-left: -3.5px;
  background-color: #FFC021;
}

.theCross::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 7px;
  top: 50%;
  left: 25%;
  margin-top: -3.5px;
  background-color: #FFC021;
}

.diary {
  width: 100%;
  height: auto;
}

.diary .diary-title {
  width: 100%;
  height: 32px;
  margin-top: 44px;
}

.diary .diary-content {
  width: 100%;
  height: 100px;
  margin-top: 21px;
}

.diary .diary-submit {
  background: #FFC021;
}

.diary .diary-submit:hover {
  background: #f7b100;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.diary .diary-submit:active {
  background: #a17300;
}

.header {
  background: #24A5A5;
  height: 64px;
  width: 100%;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .wrap {
  width: 1024px;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  /* User and user modal */
}

.header .wrap .bergur {
  width: 35px;
  height: 27px;
  display: inline-block;
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header .wrap .bergur .button_container {
  position: absolute;
  top: 3%;
  left: 4%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
  z-index: 10000;
}

.header .wrap .bergur .button_container:hover {
  opacity: .7;
}

.header .wrap .bergur .button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
          transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}

.header .wrap .bergur .button_container.active .middle {
  opacity: 0;
  background: #FFF;
}

.header .wrap .bergur .button_container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
          transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}

.header .wrap .bergur .button_container span {
  background: #fff;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
}

.header .wrap .bergur .button_container span:nth-of-type(2) {
  top: 11px;
}

.header .wrap .bergur .button_container span:nth-of-type(3) {
  top: 22px;
}

.header .wrap .logo {
  width: auto;
  color: #fff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header .wrap .default-user {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 1px solid #fff;
  border-radius: 2px;
  height: 50px;
}

.header .wrap .default-user div.modal-dialog {
  max-width: 320px;
}

.header .wrap .default-user .modal-content {
  border: 2px solid #FFC021;
  border-radius: 2px;
}

.header .wrap .default-user .modal-content .modal-header {
  padding: 0;
}

.header .wrap .default-user .modal-content .modal-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.header .wrap .default-user .modal-content .user-image img {
  width: 46px;
  height: 46px;
  margin: 15px;
}

.header .wrap .default-user .modal-content .modal-body {
  padding: 15 0;
  position: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}

.header .wrap .default-user .modal-content .fa-camera,
.header .wrap .default-user .modal-content .fa-cog {
  color: #24A5A5;
}

.header .wrap .default-user .modal-content .fa-camera i,
.header .wrap .default-user .modal-content .fa-cog i {
  /* body text */
  font-family: 'OpenSans', sans-serif;
  font-size: 1em;
  line-height: 1.6em;
  color: #4A4A4A;
}

.header .wrap .default-user .modal-content .change-photo,
.header .wrap .default-user .modal-content .settings,
.header .wrap .default-user .modal-content .user-image,
.header .wrap .default-user .modal-content .user-name-email {
  margin: auto;
}

.header .wrap .default-user .modal-content .modal-footer {
  text-align: center;
  padding: 0;
}

.header .wrap .default-user .modal-content button.btn.modal-button {
  width: 100%;
  background: #FFC021;
  /* Headings */
  font-family: "Oswald-Medium", sans-serif;
  font-size: 1.5em;
  color: #4A4A4A;
  color: #fff;
  border-radius: 0;
}

.overlay {
  position: fixed;
  background: #FFC021;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  visibility: hidden;
  background-color: rgba(255, 192, 33, 0.95);
  -webkit-transition: background-color .35s, visibility .35s, height .35s;
  transition: background-color .35s, visibility .35s, height .35s;
  overflow: hidden;
  z-index: 9999;
}

.overlay.open {
  visibility: visible;
  height: 100%;
}

.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
          animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}

.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
          animation-delay: .50s;
}

.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
  /* Headings */
  font-family: "Oswald-Medium", sans-serif;
  font-size: 3em;
  color: #fff;
  text-transform: uppercase;
  left: 4%;
}

.overlay .ul-nav {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.overlay .ul-nav .li-nav {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}

.overlay .ul-nav .li-nav .nav-link {
  display: block;
  position: relative;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
}

.overlay .ul-nav .li-nav .nav-link:hover:after, .overlay .ul-nav .li-nav .nav-link:focus:after, .overlay .ul-nav .li-nav .nav-link:active:after {
  width: 100%;
}

.overlay .ul-nav .li-nav .nav-link:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: #fff;
  -webkit-transition: .35s;
  transition: .35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.stats-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: auto;
}

.stats-container .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70vw;
  height: auto;
}

.stats-container .stats h1 {
  /* Headings */
  font-family: "Oswald-Medium", sans-serif;
  font-size: 1.5em;
  color: #4A4A4A;
  text-transform: uppercase;
  text-align: center;
}

/* Body */
body {
  /* body text */
  font-family: 'OpenSans', sans-serif;
  font-size: 1em;
  line-height: 1.6em;
  color: #4A4A4A;
  background-color: #fff;
}

.nav {
  /* Headings */
  font-family: "Oswald-Medium", sans-serif;
  font-size: 1.5em;
  color: #4A4A4A;
  text-transform: uppercase;
}

/* Checkbox */
.checkbox {
  display: inline-block;
  margin-right: 10px;
  float: left;
}
