@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald');
@import "helpers/index";
@import "styles/index";

/* Body */
body {
  @include fonts(main-body-text);
  background-color: $white;
}

.nav {
  @include fonts(heading-text);
}

/* Checkbox */

.checkbox {
  display: inline-block;
  margin-right: 10px;
  float: left;
}
