
@import "helpers/index";
@import "styles/index";

/* Body */
body {
  @include fonts(main-body-text);
  background-color: $main-yellow;
}

.nav {
  @include fonts(heading-text);
}

/* Checkbox */

.checkbox {
  display: inline-block;
  margin-right: 10px;
  float: left;
}
