/* Colors */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald');
$main-yellow: #FFC021;
$main-blue: #24A5A5;
$white: #fff;
$dark-grey: #4A4A4A;
$light-grey: #ccc;
$brown: #A77433;

$color-background: #F5F5F5;
$color-main: #FF5252;
$color-active: #FFF;

$poop-green: #BBCE72;
$poop-red: #EF5F21;

/* Navigation */

$button-height: 27px;
$button-width: 35px;

/* Font Stack */

$stack-sans-serif: sans-serif;
$stack-open-sans: 'OpenSans', $stack-sans-serif;
$stack-headings: 'Oswald-Medium', $stack-sans-serif;

/* dimensions  */

$designWidth: 1024px;
.container-fluid {
  width: $designWidth;
  margin: 0 auto;
}

$innerDesignWidth: 700px;
.container {
  width: $innerDesignWidth;
  margin: 80px auto;
}
